@model Calculator.Models.Birthday;
@{
    ViewData["Title"] = "Birthdays";
}

<p>Formularz urodzinowy</p>

<form action="Birthday">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="name" asp-for="Name">
        <label for="name">Name</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="year" asp-for="Year">
        <label for="year">Rok urodzenia</label>
    </div>
    <button type="submit" class="btn btn-primary">Prześlij</button>
</form>

@ViewBag.WelcomeMessage;