@model Calculator.Models.Calculators;

@{
    ViewData["Title"] = "Calculator";
}

<p>Formularz urodzinowy</p>

<form action="Calculators">
    <div class="form-floating mb-3">
        <input type="number" class="form-control" id="acc" asp-for="Accumulate">
        <label for="acc"></label>
    </div>
    <div class="form-floating mb-3">
        <input type="number" class="form-control" id="reduce" asp-for="Reduce">
        <label for="reduce"></label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="equation" asp-for="Equation">
        <label for="equation"></label>
    </div>
    <button type="submit" class="btn btn-primary">Prześlij</button>
</form>

@ViewBag.Result;