@model Calculator.Models.Calc;

@{
    ViewData["Title"] = "Calculator";
}

<h1>Calculator</h1>
<form action="Calc" class="mt-3">
    <div class="d-flex gap-3">
        <div class="form-floating">
            <input type="number" class="form-control" id="acc" asp-for="Accumulate" placeholder="number" required>
            <label for="acc">number</label>
        </div>
        <div>
            <label for="equation" class="text-center">equation</label>
            <div class="d-flex">
                @foreach (Operation operation in Enum.GetValues(typeof(Operation)))
                {
                    <input type="radio" class="btn-check" asp-for="Operation" id="equation-@operation" value="@operation" required>
                    <label class="btn" for="equation-@operation">@operation.ToSymbol()</label>
                }
            </div>
        </div>
        <div class="form-floating">
            <input type="number" class="form-control" id="reduce" asp-for="Reduce" placeholder="number" required>
            <label for="reduce">number</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" readonly class="form-control-plaintext" id="result" value="@ViewBag.Result">
            <label for="result">result</label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Calculate</button>
</form>
